upstream google-auth  {
        least_conn;
        server 127.0.0.1:4180;
}

server {
        listen       80;
        server_name  SERVER_NAME.pdffiller.com;

        location / {
                proxy_pass http://google-auth;
                proxy_set_header Host $http_host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Scheme $scheme;
        }

        error_log /var/log/nginx/SERVER_NAME_error.log;
        #access_log /var/log/nginx/SERVER_NAME_access.log;
}
